.header {
    background: #000;
}

.header__inner {
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    width: 370px;
    height: 36px;
}

.main {
    background: #868686;
}

.main__inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;
}

.sidebar {
    width: 20%;
    background: #868686;
    text-align: center;
}

.sidebar__title {
    font-size: 30px;
    color: #fff;
}

.sidebar__link {
    display: inline-block;
    width: 200px;
    height: 40px;
    background: #EEEFEB;
    font-size: 24px;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
    margin: 20px 0;
}

.content {
    width: 100%;
    min-height: 100vh;
}


/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #FDFCE6;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    border: 1px solid #000 ;
}

.modal__title {
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    padding: 20px 25px;
    border-bottom: 1px solid #000;
}

.rating__text {
    font-size: 20px;
    color: #868686;
    margin: 0;
    padding: 15px 0 0 20px;
}

.rating {
    width: 100%;
    border-bottom: 1px solid #000;
}

.rating__inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 10px;
}

.rating-input {
    display: none;
}

.rating-label {
    font-size: 100px;
    color: #D9D9D9;
    cursor: pointer;
}

.rating-input:checked ~ .rating-label {
    color: #FFF048;
}

.modal-button__wrapper {
    text-align: right;
}

.modal-button {
    font-size: 24px;
    color: #fff;
    background: #FF8282;
    margin: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/* chat-room */
.chat-room__header {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #5F5F5F;
}

.partner-user__wrapper {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.partner-user__image {
    width: 80px;
    height: 80px;
    background: #D9D9D9;
    border-radius: 50%;
}

.partner-user__name {
    font-size: 36px;
    font-weight: bold;
    margin: 0 20px;
}

.complete-button {
    width: 175px;
    height: 54px;
    background: #FF8282;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    margin: 0 20px;
    cursor: pointer;
}

.product__wrapper {
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid #5F5F5F;
}

.product__image {
    width: 205px;
    height: 205px;
    background: #D9D9D9;
    margin: 0 30px;
}

.product__name {
    font-size: 48px;
    font-weight: bold;
}

.product__price {
    font-size: 36px;
    font-weight: 400;
}

.chat-room {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 100px;
    overflow-y: auto;
}

.message {
    align-self: flex-end;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}

.partner-message {
    align-self: flex-start;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}


.partner-message__inner,
.message__inner {
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message__inner {
    margin: 0 0 0 auto;
}

.partner-message__image,
.message__image {
    width: 60px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 50%;
}

.partner-message__name,
.message__name {
    font-size: 20px;
    font-weight: bold;
}

.partner-message__text {
    width: 100%;
    background: #D9D9D9;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 0;
}

.message__text {
    width: 100%;
    height: 50px;
    overflow-y: auto;
    resize: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    background: #D9D9D9;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-top: 20px;
}

.button__wrapper {
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.update-button,
.delete-button {
    font-size: 15px;
    color: #5F5F5F;
    background: none;
    border: none;
    padding: 10px;
}

.update-button .span,
.delete-button .span {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.send-image__wrapper {
    width: 100%;
    margin-top: 10px;
}

.send-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    object-fit: contain;
}


.error {
    color: #FF5555;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0 30px;
}

.send-form {
    position: fixed;
    bottom: 0;
    width: 1140px;
    z-index: 100;
}

.send-form__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.send-input {
    width: 80%;
    height: 44px;
    border: 1px solid #5F5F5F;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 20px;
}

.send-input::placeholder {
    font-size: 20px;
    font-weight: bold;
    color: #7B7B7B;
}

.file-input__label {
    width: 143px;
    margin-left: 20px;
    background: none;
    border: 2px solid #FF5555;
    font-size: 20px;
    font-weight: bold;
    color: #FF5555;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer
}

.file-input {
    display: none;
}

.send-button {
    width: 80px;
    height: 60px;
    border: none;
    background: none;
    cursor: pointer;
}

.send-button__image {
    width: 100%;
    height: 100%;
}