.header {
    background: #000;
}

.header__inner {
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    width: 370px;
}

.header__logo-img {
    width: 100%;
    height: 36px;
}

.header__form {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input {
    width: 70%;
    height: 50px;
    font-size: 24px;
    padding-left: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.header__form-input::placeholder {
    color: #000;
    opacity: 1;
}

.header__form-input::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
}

.header__form-input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.header__form-btn {
    width: 20%;
    height: 50px;
    font-size: 24px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.header__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link-login {
    display: block;
    text-align: center;
    font-size: 24px;
    width: 135px;
    color: #fff;
    text-decoration: none;
}

.header__btn {
    width: 135px;
}

.header__btn-logout {
    background: none;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border: none;
}

.header__link-mypage {
    display: block;
    text-align: center;
    font-size: 24px;
    width: 135px;
    color: #fff;
    text-decoration: none;
}

.header__link-purchase {
    display: block;
    padding: 5px 20px;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
}
