.header {
    background: #000;
}

.header__inner {
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    width: 370px;
}

.header__logo-img {
    width: 100%;
    height: 36px;
}

.header__form {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input {
    width: 70%;
    height: 50px;
    font-size: 24px;
    padding-left: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.header__form-input::placeholder {
    color: #000;
    opacity: 1;
}

.header__form-input::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
}

.header__form-input::-moz-placeholder {
    color: #000;
    opacity: 1;
}

.header__form-button {
    width: 20%;
    height: 50px;
    font-size: 24px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.header__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__link-login {
    display: block;
    text-align: center;
    font-size: 24px;
    width: 135px;
    color: #fff;
    text-decoration: none;
}

.header__link-mypage {
    display: block;
    text-align: center;
    font-size: 24px;
    width: 135px;
    color: #fff;
    text-decoration: none;
}

.header__link-purchase {
    display: block;
    padding: 5px 20px;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
}

.header__button {
    width: 135px;
}

.header__button-logout {
    background: none;
    font-size: 24px;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}


@media (max-width: 850px) {
    .header__inner {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 20px;
        justify-content: center;
    }

    .header__logo {
        width: 200px;
        margin-bottom: 10px;
    }

    .header__form {
        width: 80%;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .header__form-input {
        width: 60%;
        font-size: 18px;
        height: 40px;
        padding-left: 15px;
    }

    .header__form-button {
        width: 25%;
        font-size: 18px;
        height: 40px;
    }

    .header__link {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .header__link-login,
    .header__link-mypage,
    .header__button-logout,
    .header__link-purchase {
        font-size: 18px;
        width: auto;
        margin: 0 10px;
    }

    .header__link-purchase {
        padding: 5px 15px;
        margin-left: 0;
    }
}
