.tab__wrapper {
    border-bottom: 2px solid #5f5f5f;
}

.tab {
    max-width: 1400px;
    margin: 40px auto 5px;
    padding: 0 60px;
}

.success {
    font-size: 26px;
    color: #0073CC;
    font-weight: bold;
    text-align: center;
}

.tab__link {
    font-size: 24px;
    font-weight: bold;
    color: #5f5f5f;
    text-decoration: none;
    padding-left: 100px;
}

.tab__link--active {
    color: #ff0000;
}

.products {
    max-width: 1400px;
    margin: 20px auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
}

.product {
    flex: 1 1 calc(25% - 40px);
    max-width: 290px;
    margin-bottom: 20px;
}

.product__img-wrapper {
    position: relative;
    width: 100%;
    height: 290px;
}

.product__img {
    display: block;
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sold-text {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.product__name {
    margin: 0;
    font-size: 25px;
    padding-top: 5px;
}


@media screen and (max-width: 850px) {
    .tab {
        margin: 20px auto 10px;
        padding: 0 20px;
        text-align: center;
    }

    .tab__link {
        display: inline-block;
        font-size: 18px;
        padding: 0 20px;
    }

    .success {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .products {
        padding: 20px;
        gap: 20px;
        justify-content: center;
    }

    .product {
        flex: 1 1 calc(45% - 20px);
        margin-bottom: 20px;
    }

    .sold-text {
        font-size: 32px;
    }

    .product__name {
        font-size: 18px;
        padding-top: 4px;
        text-align: center;
    }
}
