.header {
    background: #000;
}

.header__inner {
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    width: 370px;
    height: 36px;
}

.content {
    max-width: 1400px;
    margin: 80px auto;
    padding: 0 20px;
    text-align: center;
}

.content__title {
    font-size: 36px;
}

.form {
    width: 680px;
    margin: 0 auto;
}

.form__item {
    text-align: left;
    margin: 30px 0;
}

.form__item-label {
    font-size: 24px;
    font-weight: bold;
}

.form__item-input {
    width: 100%;
    height: 55px;
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    outline: none;
    font-size: 20px;
    padding: 10px;
}

.error {
    font-size: 20px;
    color: #ff5555;
}

.form__button {
    width: 100%;
    height: 65px;
    margin: 60px 0 30px 0;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background: #ff5555;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.content__link {
    font-size: 20px;
    color: #0073cc;
    text-decoration: none;
}


@media screen and (max-width: 850px) {
    .header__logo {
        width: 210px;
    }

    .content {
        max-width: 768px;
        margin: 40px auto;
        padding: 0 20px;
        text-align: center;
    }

    .content__title {
        font-size: 26px;
        margin-bottom: 50px;
    }

    .form {
        width: 60%;
        margin: 0 auto;
    }

    .form__item-label {
        font-size: 18px;
    }

    .form__item-input {
        height: 40px;
        font-size: 16px;
        padding: 8px;
    }

    .error {
        font-size: 16px;
        margin: 0;
    }

    .form__button {
        height: 50px;
        font-size: 20px;
        margin-top: 30px;
    }

    .content__link {
        font-size: 18px;
    }
}
