.form__wrapper {
    max-width: 1400px;
    margin: 50px auto;
}

.form__ttl {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.form__image-ttl {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.form__image {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #5f5f5f;
    border-radius: 6px;
    margin-bottom: 80px;
}

.form__image-btn {
    width: 165px;
    background: none;
    color: #ff5655;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ff5555;
    border-radius: 10px;
    padding: 10px;
}

.form__section-ttl {
    color: #5f5f5f;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #5f5f5f;
}

.form__category-ttl {
    font-size: 24px;
    font-weight: bold;
}

.form__category-list {
    display: flex;
    flex-wrap: wrap;
}

.form__category-label {
    cursor: pointer;
    margin: 20px 10px;
}

.form__category {
    display: none;
}

.form__category-name {
    display: inline-block;
    font-size: 15px;
    padding: 5px 15px;
    border: 2px solid #ff5655;
    border-radius: 20px;
    color: #ff5655;
}

.form__category:checked + .form__category-name {
    background: #ff5655;
    color: #fff;
}

/* カスタムセレクト */
.form__condition-selectbox {
    width: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.form__condition-selected {
    padding: 12px;
    color: #636769;
}

.form__condition-selectbox.open {
    border: none;
}


.form__condition-options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% - 45px);
    left: 0;
    width: 100%;
    background: #636769;
    border: 1.5px solid #b1b1b1;
    z-index: 10;
    border-radius: 6px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.form__condition-options li {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #eaeaea;
}

.form__condition-options li::before {
    content: "";
    display: inline-block;
    width: 10px;
    text-align: center;
}

.form__condition-options li.selected {
    background: #5599eb;
    border-radius: 6px;
    margin: 5px;
}

.form__condition-options li.selected::before {
    content: "✓";
    color: #fff;
}

.form__condition-selectbox.open .form__condition-options {
    display: flex;
}
