.form__wrapper {
    max-width: 1400px;
    margin: 50px auto;
}

.form__title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.form__image-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.form__image-wrapper {
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
}

.form__image {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #5f5f5f;
    border-radius: 6px;
    overflow: hidden;
}

.form__image-button {
    display: inline-block;
    width: 165px;
    background: none;
    color: #ff5655;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ff5555;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.form__image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

.form__reset-button {
    margin-top: 10px;
    width: 165px;
    background: none;
    color: #ff5655;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ff5555;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.error {
    font-size: 20px;
    font-weight: bold;
    color: #ff5555;
}

.form__section-title {
    color: #5f5f5f;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #5f5f5f;
}

.form__category-title {
    font-size: 24px;
    font-weight: bold;
}

.form__category-list {
    display: flex;
    flex-wrap: wrap;
}

.form__category-label {
    cursor: pointer;
    margin: 20px 10px;
}

.form__category {
    display: none;
}

.form__category-name {
    display: inline-block;
    font-size: 15px;
    padding: 5px 15px;
    border: 2px solid #ff5655;
    border-radius: 20px;
    color: #ff5655;
}

.form__category:checked + .form__category-name {
    background: #ff5655;
    color: #fff;
}

.form__condition-title {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 20px 0;
}

/* カスタムセレクト */
.form__condition-selectbox {
    width: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;
}

.form__condition-selectbox::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 18px;
    height: 20px;
    color: #5f5f5f;
    transform: translate(0, -50%);
}

.form__condition-selected {
    padding: 12px;
    color: #636769;
}

.form__condition-selectbox--open {
    border: none;
}

.form__condition-options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% - 45px);
    left: 0;
    width: 100%;
    background: #636769;
    border: 1.5px solid #b1b1b1;
    z-index: 10;
    border-radius: 6px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.form__condition-option {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #eaeaea;
}

.form__condition-option::before {
    content: "";
    display: inline-block;
    width: 10px;
    text-align: center;
}

.form__condition-option--selected {
    background: #5599eb;
    border-radius: 6px;
    margin: 5px;
}

.form__condition-option--selected::before {
    content: "✓";
    color: #fff;
}

.form__condition-selectbox--open .form__condition-options {
    display: flex;
}

.form__name-title,
.form__brand-title,
.form__description-title,
.form__price-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.form__name,
.form__brand,
.form__description {
    width: 100%;
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
}

.form__name,
.form__brand {
    height: 45px;
}

.form__description {
    height: 125px;
    resize: vertical;
    text-align: left;
    vertical-align: top;
    line-height: 1.5;
}

.form__name,
.form__brand,
.form__description {
    margin-bottom: 10px;
}

.form__price-wrapper {
    width: 100%;
    margin-bottom: 100px;
}

.form__price-content {
    display: flex;
    align-items: center;
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    height: 45px;
    width: 100%;
    padding: 10px;
}

.form__price-symbol {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-right: 10px;
}

.form__price {
    flex: 1;
    border: none;
    outline: none;
    font-size: 20px;
}

.form__button {
    width: 100%;
    height: 60px;
    background: #ff5555;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .form__title {
        font-size: 26px;
    }

    .form__image-title {
        font-size: 18px;
    }

    .form__image {
        height: 120px;
    }

    .form__image-button,
    .form__reset-button {
        font-size: 14px;
        width: 140px;
        padding: 8px;
    }

    .form__category-label {
        cursor: pointer;
        margin: 10px;
    }

    .form__category-name {
        font-size: 12px;
    }

    .form__section-title {
        font-size: 22px;
    }

    .form__category-title,
    .form__condition-title,
    .form__name-title,
    .form__brand-title,
    .form__description-title,
    .form__price-title {
        font-size: 18px;
    }

    .form__name,
    .form__brand,
    .form__description {
        font-size: 16px;
        padding: 8px;
    }

    .form__price-wrapper {
        margin-bottom: 60px;
    }

    .form__price-symbol {
        font-size: 18px;
    }

    .form__price {
        font-size: 16px;
    }

    .form__button {
        height: 50px;
        font-size: 20px;
        margin-top: 20px;
    }

    .error {
        font-size: 16px;
        text-align: center;
    }
}
