.header {
    background: #000;
}

.header__inner {
    max-width: 1400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    width: 370px;
    height: 36px;
}

.content {
    max-width: 1400px;
    margin: 200px auto;
    padding: 0 20px;
    text-align: center;
}

.content__text {
    font-size: 24px;
    font-weight: bold;
}

.content__button {
    margin: 50px auto;
    width: 258px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    background: #d9d9d9;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.content__send {
    margin: 20px auto;
    background: none;
    border: none;
    font-size: 20px;
    color: #0073cc;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}


@media screen and (max-width: 850px) {
    .header__logo {
        width: 210px;
    }

    .content {
        max-width: 768px;
        margin: 40px auto;
        padding: 0 20px;
        text-align: center;
    }

    .content__text {
        font-size: 18px;
    }

    .content__button {
        height: 50px;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .content__send {
        font-size: 18px;
    }
}